<ul [ngClass]="ulclass">

  <li *ngFor="let item of node"   [ngClass]="[liclass ? liclass : 'nav-item', item.children ? 'dropdown' : '']">
<a class = "extlink nav-link"  href = "{{item.link}}" target = "_blank" *ngIf = "item.ext === true; else intlink">{{ item.name }}</a>

<ng-template #intlink>
  <a [routerLink]="item.link" [routerLinkActive]="'active'" class = "nav-link" [ngClass] = "[item.children ? 'dropdown-toggle' : '']">{{ item.name }}</a>
</ng-template>


    <app-wpnav *ngIf="item.children" [node]="item.children" ulclass = "dropdown-menu" liclass = "dropdown-item"></app-wpnav>
  </li> 
</ul>
