.main-sidebar {
  background: #27292B;
  color: white;    
  min-height: 100%;
  a {
    color: #CCCCCC;
    font-size: 12px;
  }
}

.main {
  background: #F0F1F2;    
}

.themebody {
  min-height: 700px;
}
.title-container {
    float: none;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    line-height: 3;
}
.site-title {
  line-height: 1;
  a {
    font-size: 22px;
    color: #ffffff;
  }
}
.tagline {
  display: block;
  color: #CCCCCC;
  margin: 0;
  font-size: 12px;
}

.sidebar-inner {
  height: 500px;
  overflow-x: scroll;
  padding: 30px;
}

.content-wrapper {
  padding: 3em 6% 3em 6%;
}
.content-wrapper-inner {
  
}


:host ::ng-deep {
  body {
    font-size: 100%;
    font-family: "Lato", sans-serif;
    background: #27292B;
    color: #27292B;
    -webkit-font-smoothing: subpixel-antialiased;
    word-wrap: break-word;
    -ms-word-wrap: break-word;    

  }
      
  .block {
    margin-top: 15px;
    padding-top: 15px;
    border-top: solid 1px #3E4145;
    margin-bottom: 30px;   
      .block-title {
        font-size: 16px;
        font-weight: 400;
      }         
    ul li a,
    li a,
    a {
      color: #CCCCCC;
      font-size: 12px;
    }    
  }

  wpsearchbox {
    width: 100%;
    display: block;
    input {
      width: 100%;
    }
  }

  wp-themeswitch {
    width: 100%;
  }

  .btn-search {
    width: 100%;
    text-align: center;
    display: block;
    background: #3E4145;
    font-size: 14px;
    padding: 7px;
    margin-top: 7px;
    border-radius: 3px;
  }
  .archive-title {
    padding: 1.5em 6.66%;
    display: block;
    background: #ffffff;    
    margin-bottom: 30px;
    text-align: center;  
    font-size: 18px;
    color: #27292B;    
  }  
  wppost {
    padding: 30px;
    display: block;
    background: #ffffff;
    margin-bottom: 30px;    
  }
  .page-title {
    a{
      color: #27292B;
      text-decoration: none;
    }
  }
}