<ng-container *ngIf="entity_type === 'posts'">
<wppost [entity_id] = "content.ID" link_title = "false"></wppost>
</ng-container>

<ng-container *ngIf="entity_type === 'posts'">

</ng-container>  


<ng-container *ngIf="entity_type === 'terms'">
<div class = "terms-page termid-{{content.term_id}} termtax-{{content.taxonomy}}">
<h1 class = "archive-title">{{ content.name }}</h1>
<ng-container *ngIf="content.posts">
  <ng-container *ngFor="let entity_id of content.posts">
    <wppost [entity_id] = "entity_id" link_title = "1"></wppost>
  </ng-container>
</ng-container>
</div>
</ng-container>