<ng-container *ngIf="entity_type === 'posts'">
<wppost [entity_id] = "content.ID" link_title = "false"></wppost>
</ng-container>

<ng-container *ngIf="entity_type === 'posts'">

</ng-container>  


<ng-container *ngIf="entity_type === 'terms'">
<div class = "terms-page termid-{{content.term_id}} termtax-{{content.taxonomy}}">
<h1 class = "archive-title">{{ content.name }}</h1>
<ng-container *ngIf="content.posts">
  <ng-container *ngFor="let entity_id of content.posts">
    <wppost [entity_id] = "entity_id" link_title = "1" excerpt = "yes"></wppost>
  </ng-container>
</ng-container>
</div>
</ng-container>

<ng-container *ngIf="entity_type === 'search'">
<div class = "search-page terms-page">
<h1 class = "archive-title">Search for <i>"{{ searchkey }}"</i> got {{content?.length}} result(s).</h1>
<ng-container *ngIf="content">
  <ng-container *ngFor="let post of content">
    <ng-container *ngIf = "(post.post_type == 'post' || post.post_type == 'page')">
      <wppost [entity_id] = "post.ID" link_title = "1" excerpt = "yes"></wppost>
    </ng-container>
  </ng-container>
</ng-container>
</div>
</ng-container>

<ng-container *ngIf="entity_type === 'archive'">
<div class = "archives-page terms-page">
<h1 class = "archive-title">Monthly Archives <i>"{{ searchkey }}"</i>.</h1>
<ng-container *ngIf="content">
  <ng-container *ngFor="let post_id of content">
    <wppost [entity_id] = "post_id" link_title = "1" excerpt = "yes"></wppost>    
  </ng-container>
</ng-container>
</div>
</ng-container>